
<% include partials/header %>
    <div class="aboutWrapper">
        <div class="container">
            <div class="thumbnail">
                <img id="potrait" src="./images/dog.jpg">
            </div>
            <div class="row">
                <div class=" abtcont1 col-lg-6 col-md-6">
                    <h2 id="nthiga">Macharia Nthiga?</h2>
                    <h3 id="bio">Bio</h3>
                    <p>My name is Dennis Macharia Nthiga,
                    and I'm a full stack Javascript developer from Kenya. I started coding while
                    still in school and fell in love with it more after graduating from
                    Jomo Kenyatta University of Technology and Agriculture in 2012. Nowadays,
                    I code as a career but MAINLY because it's fun.
                    
                    </p>
                </div>
                <div class=" abtcont2 col-lg-6 col-md-6">
                        <!--<h2>About Me </h2>-->
                        <p id="idn">While I have a strong Computer Science background having studied BBIT (Bachelor of Business Information Technology), I like to think of myself as
                        a self-taught developer — Well, the reason is quite simple. I spent a lot of time learning coding on my own. Coding is something I enjoy and
                        would do for free (but money makes most things better). I have done projects in most of the popular languages (and stacks) including
                        C#, Java, PHP, JS, C++, Python, Ruby/Rails, JavaScript, and C, to name but a few. <br> Ultimately, I've come to love Javascript mainly because
                        of nodeJS, its flexibility and performance. Nonetheless, I find all languages fun and I'm always ready for the next challenge. Currently, 
                        I'm learning GoLang and hope to transition to using it fully within the next few projects</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content"></div>
<% include partials/footer %>