<% include partials/header %>


<div class="banner">
    <div class="holder">
        <h1 ID="guestTopic">Thank you for your interest in my services</h1>
    </div>
</div>
<div class="guestWrapper">
    <div class="container">
        <h2 id="guestSub">Looking for a developer?</h2>
        
        <p>I'm not engaged in any presssing peojects at the moment. I'm available for short projects
        but will always give long-term and full-time employment preference. I like being part of
        a team that develops applications for use by millions of people; I find it more rewarding knowing
        that my skills contributed to improving our way of life.</p>
        
        <p>If you’re looking to create a minimum viable product or want to test the waters with a new
        idea or concept, then get in touch. I can help create a product to seek funding, prove a concept
        or just seek market feedback. As an enterpreneur with various applications in the market, I'm always
        looking to collaborate with like-minded creators and developers.</p>
        <p>If you have an idea that you believe can change the world, and have clear goals and a water-tight plan to implement it then just write me an email. I'm always
        ready to hear from you. If you want to hire me, just contact me.</p>
        <a href="./Resume/Dennis Resume.pdf" class="btn btn-primary" download><span class="glyphicon glyphicon-download-alt"> </span>   GET MY RESUME</a>
        <a href="mailto:dmdmasha28@gmail.com" class="btn btn-info">GET IN TOUCH</a>
        <a target="_blank" href="https://github.com/macharianthiga/DMPortfolio.git"  class="btn btn-success">VIEW MY GITHUB</a>
    </div>
    <div class="content"></div>
</div>




<% include partials/footer %>