
<% include partials/header %>
<div class="banner">
    <div class="holder">
        <h1>MACHARIA NTHIGA<br>
        <span>Full Stack Developer</span></h1>
        
    </div>
    <div class="nav">
        <div class="holder">
            <a href="#">Web</a>
            <a href="#">Mobile</a>
            <label for="search">Search</label>
            <input type="search" id="search" placeholder="MEAN Stack">
        </div>
    </div>
</div>
<div class="content">
        <ul>
            <li>
                <img src="./images/01.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/02.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/03.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/04.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/05.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/06.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/07.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/08.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/09.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/10.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/11.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <li><img src="./images/12.png">
                <div class="project-info">
                    <h2>Site Name</h2>
                    <p>Simple Description</p>
                    <button href="#">See More</button>
                </div>
            </li>
            <!--<li><img src="./images/13.png"></li>-->
        </ul>
</div>


<% include partials/footer%>