
<% include partials/header %>

<div class="banner">
    <div class="holder">
        <p><img src="../images/perslogo-02.png"></p>
        <h1>MACHARIA NTHIGA<br>
        <span>Full Stack Developer</span></h1>
        
    </div>
    <div class="nav1">
        <div class="holder">
            <a href="#">Web</a>
            <a href="#">Mobile</a>
            <label for="search">Search</label>
            <input type="search" id="search" placeholder="MEAN Stack">
        </div>
    </div>
</div>
<div class="content">
       <% projects.forEach(function(project){ %>
          <ul>
              <li>
                  <img src="<%=project.image%>">
                  <div class="project-info">
                      <h2><%=project.name %></h2>
                      <p><%=project.description %></p>
                      <button><a href="/<%=project._id%>">See More </a></button>
                  </div>
                  
              </li>
          </ul>
       <% }) %>
</div>
<% include partials/footer%>