
<% include partials/header %>

<div class="banner">
    <div class="holder">
        <h1>MACHARIA NTHIGA<br>
        <span>Full Stack Developer</span></h1>
        
    </div>
    <div class="nav">
        <div class="holder">
            <a href="#">Web</a>
            <a href="#">Mobile</a>
            <label for="search">Search</label>
            <input type="search" id="search" placeholder="MEAN Stack">
        </div>
    </div>
</div>
<div class="content">
       <% projects.forEach(function(project){ %>
          <ul>
              <li>
                  <img src="<%=project.image%>">
                  <div class="project-info">
                      <h2><%=project.name %></h2>
                      <p><%=project.description %></p>
                      <button href="#">See More</button>
                  </div>
                  
              </li>
          </ul>
       <% }) %>
</div>
<!--<div class="about"> -->
<!--    <div class="about1">-->
<!--        <h2>Macharia Nthiga ?</h2>-->
        <!--<img src="./images/dog.jpg">-->
<!--        <p>My name is Dennis Macharia Nthiga, and I'm a full stack developer from Kenya</p>-->
<!--    </div>-->
<!--    <div class="about1">-->
<!--        <h2>About Me </h2>-->
<!--        <p id="idn">While I have a strong Computer Science having studied BBIT (Bachelor of Business Information Technology), I like to think of myself as-->
<!--        a self-taught developer — Well, the reason is quite simple. I spent a lot of time learning coding on my own.Coding is something I enjoy and-->
<!--        would do for free (but money makes most things better). I have done projects in most of the popular languages (and stacks) including-->
<!--        C#, Java, PHP, JS, C++, Python, Ruby/Rails, JavaScript, and C, to name but a few. <br> Ultimately, I've come to love Javascript mainly because-->
<!--        of nodeJS, its flexibility and performance. Nonetheless, I find all languages fun and I'm always ready for the next challenge. Currently, -->
<!--        I'm learning GoLang and hope to transition to using it fully within the next two projects</p>-->
<!--    </div>-->
    
<!--</div>-->


<% include partials/footer%>