
<% include partials/header %>
<div class="banner">
    <div class="holder">
        <h1>MACHARIA NTHIGA<br></h1>
    </div>
    <div class="nav">
        <div class="holder">
            <a href="#">Web</a>
            <a href="#">Mobile</a>
            <label for="search">Search</label>
            <input type="search" id="search" placeholder="MEAN Stack">
        </div>
    </div>
</div>
<div class="content">
        <ul>
            <li><img src="./images/01.png"></li>
            <li><img src="./images/02.png"></li>
            <li><img src="./images/03.png"></li>
            <li><img src="./images/04.png"></li>
            <li><img src="./images/05.png"></li>
            <li><img src="./images/06.png"></li>
            <li><img src="./images/07.png"></li>
            <li><img src="./images/08.png"></li>
            <li><img src="./images/09.png"></li>
            <li><img src="./images/10.png"></li>
            <li><img src="./images/11.png"></li>
            <li><img src="./images/12.png"></li>
            <li><img src="./images/13.png"></li>
        </ul>
</div>
<div class="contdummy">
    <p>Neil Armstrong never went to the moon for NASA, he was trying to run away from Chuck Norris . Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there, If you spell Chuck Norris in Scrabble, you win. Forever If you spell Chuck Norris in Scrabble, you win. Forever Chuck Norris originally appeared in the "Street Fighter II" video game, but was removed by Beta Testers because every button caused him to do a roundhouse kick. When asked bout this "glitch," Norris replied, "That's no glitch.". CNN was originally created as the "Chuck Norris Network" to update Americans with on-the-spot ass kicking in real-time. When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to</p>
    <p>Neil Armstrong never went to the moon for NASA, he was trying to run away from Chuck Norris . Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie down A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there, If you spell Chuck Norris in Scrabble, you win. Forever If you spell Chuck Norris in Scrabble, you win. Forever Chuck Norris originally appeared in the "Street Fighter II" video game, but was removed by Beta Testers because every button caused him to do a roundhouse kick. When asked bout this "glitch," Norris replied, "That's no glitch.". CNN was originally created as the "Chuck Norris Network" to update Americans with on-the-spot ass kicking in real-time. When Chuck Norris sends in his taxes, he sends blank forms and includes only a picture of himself, crouched and ready to attack. Chuck Norris has not had to</p>
    <div class="tester">
        <h2>Are we there yet</h2>
    </div>
    
</div>




<% include partials/footer%>