<% include partials/header %>

<div class="container">
    <h1>Sign up</h1>
    <form action="/signup" method="post">
        <input type="email" name="username" placeholder="example@gmail.com">
        <input type="password" name="password" placeholder="password">
        <button>Sign Up</button>
    </form>
</div>



<% include partials/footer %>